name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  validate:
    name: Validate WIT
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install wasm-tools
        uses: bytecodealliance/actions/wasm-tools/setup@v1

      - name: Validate WIT
        run: wasm-tools component wit wit/
